body {
  margin: 0;
}

#root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  justify-content: space-around;
}

.game-messages {
  width: 14rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.75rem;
}

.boards-wrapper {
  display: flex;
  justify-content: space-between;
}

.player-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-top: 5rem;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  width: 100%;
  aspect-ratio: 1 / 1;
}

.cell {
  border: 1px solid black;
}

.cell.hasShip {
  background: #0000ff;
}

.cell.hasShip.shipHit {
  background-color: #ff0000;
}

.cell.hit {
  background-color: #aaa;
}

.board-owner {
  margin-top: 2rem;
}